.honda-bg {
  background-color: #264653;
}
.mobile-button {
  background-color: white !important;
}
h1 {
  font-size: 48px;
}
.text-color {
  color: #e76f51;
}
.buttons {
  background-color: #e76f51;
}
.bike {
  filter: grayscale(1);
}
.image-size {
  width: 200px;
  height: 200px;
}
.feq-image {
  height: 400px;
}
.accessory-image {
  width: 100px;
  height: 100px;
}
.scooter {
  width: 400px;
  height: 250px;
}
